<div class="dialog-header">

  <h2 mat-dialog-title>
    {{ data.title }}
  </h2>

  <button class="icon-button" type="button" aria-label="Chiudi finestra" mat-dialog-close>

      <span class="material-icons" aria-hidden="true">
        close
      </span>

    </button>
</div>

<mat-dialog-content>
   <p>{{ data.message }}</p>
</mat-dialog-content>

<mat-dialog-actions>

  <button mat-button type="button" mat-dialog-close>
    Cancella
  </button>

  <button mat-raised-button color="primary" type="button" [mat-dialog-close]="true">
    {{ data.confirmLabel }}
  </button>

</mat-dialog-actions>