<main class="container text-center">

  <h1 class="page-title icon-text">

    <span
      class="material-icons"
      aria-hidden="true">
      waving_hand
    </span>

    Benvenuto, {{ name }}

  </h1>

  @if (isReader) {

    <section class="welcome-section">

      <p class="welcome-text">
        Consulta il catalogo, monitora i tuoi prestiti
        e gestisci il tuo profilo personale.
      </p>

    </section>

  }

  @if (isLibrarian) {

    <section class="welcome-section">

      <p class="welcome-text">
        Gestisci catalogo, prestiti e utenti registrati
        della biblioteca.
      </p>

    </section>

  }

  @if (isAdmin) {

    <section class="welcome-section">

      <p class="welcome-text">
        Area amministrativa della biblioteca.
        Gestisci utenti, catalogo e operazioni di prestito.
      </p>

    </section>

  }

  <section
    class="grid"
    aria-label="Funzioni disponibili">

    <a
      routerLink="/books"
      class="card home-card">

      <span
        class="material-icons"
        aria-hidden="true">
        menu_book
      </span>

      <span>
        Catalogo
      </span>

    </a>

    <a
      routerLink="/book-requests"
      class="card home-card">

      <span
        class="material-icons"
        aria-hidden="true">
        how_to_vote
      </span>

      <span>
        Richieste libri
      </span>

    </a>

    <a
      routerLink="/loans"
      class="card home-card">

      <span
        class="material-icons"
        aria-hidden="true">
        assignment
      </span>

      <span>
        Prestiti
      </span>

    </a>

    @if (isAdmin || isLibrarian) {

      <a
        routerLink="/users"
        class="card home-card">

        <span
          class="material-icons"
          aria-hidden="true">
          groups
        </span>

        <span>
          Utenti Biblioteca
        </span>

      </a>

        @if (isAdmin){
          <a
            routerLink="/operators"
            class="card home-card">

            <span
              class="material-icons"
              aria-hidden="true">
              admin_panel_settings
            </span>

            <span>
              Operatori
            </span>

          </a>
      }

      <a routerLink="/admin/dashboard" class="card home-card">

        <span
          class="material-icons"
          aria-hidden="true">
          analytics
        </span>

        <span>
          Dashboard
        </span>

      </a>

    }@else{

      <a
        routerLink="/profile"
        class="card home-card">

        <span
          class="material-icons"
          aria-hidden="true">
          person
        </span>

        <span>
          Profilo
        </span>

      </a>
    }

  </section>

</main>